<form method="POST" action="/result">
  
  <h2>Who's my fav artist?</h2>
    <input type="radio" name="artist" value="0">Skrillex
    <input type="radio" name="artist" value="5">Halsey
    <input type="radio" name="artist" value="5">Kanye West
    <input type="radio" name="artist" value="10">Ed Sheeran
  
  <h2>Where am I from?</h2>
    <input type="radio" name="home" value="0">Texas <br>
    <input type="radio" name="home" value="5">New York <br>
    <input type="radio" name="home" value="10">New Jersey <br>
    
  <h2>What's my fav show?</h2>
    <input type="radio" name="show" value="5">New Girl <br>
    <input type="radio" name="show" value="10">How I Met Your Mother<br>
    <input type="radio" name="show" value="10">Friends <br>
<br>

<button type="submit"> Let's see if we can be friends!!!</button>


</form>
